.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#gmap {
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.searchbar {
  border-radius: 5px;
  position: absolute;
  max-height: 50%;
  overflow: auto;
  left: 6%;
  top: 2%;
  z-index: 2;
  font-size: 1.1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 2px;
  overflow: auto;
  width: 320px
}

li {
  font-size: 1em;
  padding: 5px;
  color: white;
  cursor: pointer;
  background-color: rgba(19, 99, 150, 0.73);
  border-bottom: 3px solid #ffffff;
}

.searchbx {
  font-size: 1.1em;
  width: 320px;
  padding: 2px;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.listOfVenues {
  margin-top: 15px;
  padding: 15px;
}

